/* colors */
$white: #ffffff;
$grey: #bdbdbd;
$black: #333333;
$primary: #7859cf;
$secondary: #f0ebff;
$primary-opacity: rgba(120, 89, 207, 0.25);
$primary-lighter: #9070ec;
$primary-darken: #593cac;
$light-grey: #e2e2e2;
$lightest-grey: #f8f8f8;
$flat-white: #f3ebe1;
$latte: #eae6fc;
$espresso: #e5e6e8;

/* container */
$mobile: 767.98px;
$tablet: 768px;
$desktop: 1440px;
