/* BASE CATALOG*/
.catalog {
  padding-top: 50px;
  padding-bottom: 44px;
  background-color: $lightest-grey;
}

.catalog__title {
  @include title;
  margin-top: 5px;
  margin-bottom: 21px;
}

.catalog__aside {
  margin-bottom: 40px;
}

.catalog__aside-form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  padding: 39px 17px 19px;
  background: $white;
  border-radius: 4px;
  transition: all 0.5s ease-out;
}

.catalog__item-image {
  display: flex;
  margin: auto;
  margin-bottom: 6px;
  transition: all 0.5s ease-out;
}

.catalog__item-title {
  @include title;
  margin-bottom: 2px;
  font-size: 18px;
  text-align: start;
}

.catalog__item-text {
  @include text;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: start;
}

.catalog__item-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.catalog__item-order-price {
  margin: auto 0;
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: $black;
}

.catalog__item-order-button {
  margin-right: 2px;
  padding: 8px 19px;
  gap: 8px;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: $tablet) {
  .catalog {
    padding-top: 80px;
    padding-bottom: 88px;
  }

  .catalog__title {
    margin-top: 4px;
    font-size: 42px;
    line-height: 64px;
  }

  .catalog__aside {
    margin-bottom: 45px;
  }

  .catalog__aside-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 16px;
  }

  .catalog__item {
    padding: 50px 31px 29px;
  }

  .catalog__wrapper-form {
    margin-bottom: 11px;
    gap: 30px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 71px;
  }

  .catalog__item-title {
    margin-bottom: 11px;
    font-size: 24px;
    line-height: 36px;
  }

  .catalog__item-text {
    margin-bottom: 20px;
    flex-grow: 1;
  }

  .catalog__item-order-button {
    margin-right: 0;
  }
}

@media (min-width: $desktop) {
  .catalog {
    padding-top: 100px;
    padding-bottom: 118px;
  }

  .catalog__title {
    margin-bottom: 40px;
  }

  .catalog__container {
    display: flex;
    gap: 30px;
  }

  .catalog__aside-form {
    display: flex;
    flex-direction: column;
    gap: 27px;
  }

  .catalog__wrapper {
    width: 100%;
  }

  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 60px;
  }
}

.button__order-text {
  padding-left: 10px;
}

.catalog__span,
.advantages__span {
  text-align: center;
}

/* FORM */

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__fieldset-checkbox {
  margin-bottom: 7px;
}

.form__fieldset-legend {
  margin-bottom: 21px;
  padding: 0;

  @include label;
}

.form__fieldset-legend-checkbox {
  margin-bottom: 20px;
}

.form__fieldset-list {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.range__wrapper {
  display: flex;
  align-items: center;
  min-height: 24px;
  margin-bottom: 26px;
}

.range__scale {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: $light-grey;
  border: none;
  box-shadow: none;
}

.range__bar .range__toggle {
  display: none;
}

.range__scale .range__bar {
  display: block;
  position: absolute;
  width: 93%;
  height: 4px;
  background-color: $primary-lighter;
}

.noUi-connect {
  width: 100%;
}

.range__scale .range__toggle {
  display: block;
  position: absolute;
  top: -9px;
  width: 24px;
  height: 24px;
  background: $white;
  border-radius: 50%;
  border: 2px solid $primary-lighter;
}

.range__toggle::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -1px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: scale(0);
  transition-duration: 0.4s;
  transition-property: transform;
}

.toggle-max::after {
  left: -2px;
}

.range__toggle:hover::after,
.range__toggle:focus::after {
  transform: scale(0.75) translate(0, 1px);
  background-color: $primary-opacity;
}


.range__toggle:active::after {
  transform: scale(0.75) translate(0, 1px);
  background-color: $primary;
}

.toggle-max {
  right: 0;
}

.toggle-max:hover::after,
.toggle-max:focus::after,
.toggle-max:active::after {
  transform: scale(0.75) translate(1px, 1px);
}

.range__count {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  flex-wrap: wrap;
  gap: 16px;
}

.range__input {
  width: 116px;
  height: 37px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $black;
  background: $white;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
  outline: none;
  appearance: none;
}

.range__input:focus {
  border: 2px solid $primary-darken;
}

.range__input-min {
  color: $grey;
}

.range__span {
  height: 30px;
  font-family: inherit;
  font-size: 30px;
  color: $grey;
}

.form__fieldset-legend-radio {
  margin-bottom: 21px;
}

.radio__item {
  position: relative;
  margin-left: 33px;
}

.radio__label,
.checkbox__label {
  position: relative;
  display: block;

  @include radio;
  cursor: pointer;
}

.radio__label::before,
.radio__label::after {
  content: "";
  position: absolute;
  top: 0.1vw;
  left: -34px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid $grey;
  transition-duration: 0.4s;
  transition-property: transform;
}

.radio__label::after {
  background-color: $primary;
  border: none;
  transform: scale(0);
}

.radio__input:checked + .radio__label::before {
  border: 2px solid $primary;
}

.radio__input:checked + .radio__label::after {
  transform: scale(0.75);
}

.radio__label:hover::before,
.radio__label:focus::before {
  border: 2px solid $primary;
}

.radio__label:hover::after,
.radio__label:focus::after {
  background-color: $primary-opacity;
  transform: scale(0.7);
}

.checkbox__item {
  margin-left: 53px;
}

.checkbox__span {
  position: relative;
}

.checkbox__span::before {
  content: "";
  position: absolute;
  left: -53px;
  width: 42px;
  height: 24px;
  background-color: $grey;
  border-radius: 12px;
  transform: translate(0, 1px);
  transition: 0.4s ease-in-out;
}

.checkbox__span::after {
  content: "";
  position: absolute;
  left: -51px;
  border: none;
  width: 20px;
  height: 20px;
  background-color: $white;
  border-radius: 50%;
  transform: translate(0, 3px);
  transition: 0.4s ease-in-out;
}

.checkbox__span:hover::before,
.checkbox__span:focus::before {
  background-color: $primary-opacity;
  border: 2px solid $primary-lighter;
}

.checkbox__input:checked + .checkbox__span::before {
  background-color: $primary;
}

.checkbox__input:checked + .checkbox__span::after {
  transform: translate(18px, 3px);
}

.form__fieldset-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  margin-top: -10px;
  margin-bottom: -6px;
}

.form__fieldset-button {
  width: max-content;
  padding: 11px 12px;
  font-size: 13.5px;
}

.form__fieldset-button-reset {
  padding: 11px 16px;
  font-size: 14px;
}

.form__fieldset-select {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
}

.form__fieldset-legend-select {
  margin-top: 0;
  margin-bottom: 20px;
}

.select .select__control {
  display: flex;
}

.select .select__control-div {
  display: none;
}

.select__control {
  display: none;
  margin: 0;
  padding: 3px 30px 3px 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: $primary;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  background-image: url("../../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
}

.select__control-title {
  position: relative;
  margin: 0;
  padding: 3px 30px 3px 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: $primary;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.select__control-title::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 25px;
  background-image: url("../../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.select__control:hover,
.select__control:focus,
.select__control-title:hover,
.select__control-title:focus {
  background-color: $secondary;
  border-radius: 4px;
}

.select__control-div {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
}

.select__control-div[data-state="active"] {
  .select__control-content {
    display: flex;
  }

  .select__control-title:active::after {
    transform: rotate(180deg);
  }

  .select__control-input + .select__control-label {
    min-height: 40px;
  }
}

.select__control-content {
  position: absolute;
  top: 32px;
  right: 0;
  display: none;
  flex-direction: column;
  width: 120%;
  height: auto;
  transition: all 0.3s ease-out;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 1;
  overflow: hidden;
}

.select__control-input {
  display: none;

  &:checked + .select__control-label {
    display: none;
  }

  &:disabled + .select__control-label {
    opacity: 0.6;
    pointer-events: none;
  }
}

.select__control-label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 8px 20px;
  overflow: hidden;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  border-top: 2px solid $secondary;
  transition: all 0.2s ease-out;
  cursor: pointer;

  &:hover {
    background-color: $secondary;
  }

  &:active {
    color: $white;
    background-color: $primary;
  }
}

@media (min-width: $tablet) {
  .form__fieldset-legend {
    margin-bottom: 18px;
  }

  .range__wrapper {
    margin-bottom: 23px;
    margin-left: 8px;
  }

  .range__bar {
    position: absolute;
    width: 91%;
  }

  .range__count {
    margin-left: 8px;
    justify-content: flex-start;
    gap: 12px;
  }

  .range__scale {
    position: relative;
    width: 98%;
  }

  .range__input {
    width: 93px;
    height: 40px;
  }

  .toggle-min:hover::after,
  .toggle-min:focus::after,
  .toggle-min:active::after {
    transform: scale(0.75) translate(-1px, 1px);
  }

  .toggle-max:hover::after,
  .toggle-max:focus::after,
  .toggle-max:active::after {
    transform: scale(0.75) translate(1px, 1px);
  }

  .form__fieldset-buttons {
    flex-direction: row;
    grid-column: 1/-1;
    gap: 3px;
    flex-wrap: wrap;
    margin-top: 3px;
  }

  .form__fieldset-checkbox {
    margin-bottom: 37px;
  }

  .form__fieldset-button {
    padding: 11px 4.5px;
    font-size: 13px;
    letter-spacing: 0.6px;
    line-height: 17px;
  }

  .form__fieldset-select {
    justify-content: flex-end;
  }

  .select__control {
    margin-right: 4px;
    padding: 0 28px 0 0;
  }
}

@media (min-width: $desktop) {
  .form__fieldset-range {
    width: 320px;
  }

  .form__fieldset-legend {
    margin-bottom: 20px;
  }

  .range__wrapper {
    margin-left: 0;
  }

  .range__scale {
    width: 100%;
  }

  .range__bar {
    width: 93.5%;
  }

  .range__count {
    margin-left: 0;
    gap: 18px;
  }

  .range__label {
    width: 135px;
  }

  .range__input {
    width: 135px;
  }

  .toggle-min:active::after,
  .toggle-min:focus::after,
  .toggle-min:hover::after {
    transform: scale(1) translate(0, 0);
  }

  .toggle-max:active::after,
  .toggle-max:focus::after,
  .toggle-max:hover::after {
    transform: scale(1) translate(1px, 0);
  }

  .form__fieldset-checkbox {
    margin-left: 0;
    margin-bottom: 8px;
  }

  .form__fieldset-buttons {
    transform: translate(0, 0);
    gap: 20px;
  }

  .form__fieldset-button-reset {
    padding: 11px 12px;
  }
}

.range__wrapper-disabled .range__bar {
  background-color: $grey;
  cursor: no-drop;
}

.range__wrapper-disabled .range__toggle {
  border: 2px solid $grey;
  cursor: no-drop;
}

.range__input-disabled,
.range__input:disabled {
  color: $grey;
  border: 2px solid $light-grey;
  cursor: no-drop;
}

.radio__label-disabled,
.radio__input:disabled + .radio__label,
.checkbox__span-disabled,
.checkbox__input:disabled + .checkbox__span {
  color: $grey;
  cursor: no-drop;
}

.radio__label-disabled::before,
.radio__input:disabled + .radio__label::before {
  border: 2px solid $light-grey;
  cursor: no-drop;
}

.radio__label-disabled-checked::after,
.radio__input:checked.radio__input:disabled + .radio__label::after {
  background-color: $light-grey;
  transform: scale(0.75);
  cursor: no-drop;
}

.checkbox__span-disabled::before,
.checkbox__input:disabled + .checkbox__span::before {
  background-color: $light-grey;
  cursor: no-drop;
}

.checkbox__span-disabled-cheked::after,
.checkbox__input:checked.checkbox__input:disabled + .checkbox__span::after {
  background-color: $grey;
  cursor: no-drop;
}


.checkbox__span-disabled-cheked:hover::before,
.checkbox__input:checked.checkbox__input:disabled + .checkbox__span:hover::before,
.checkbox__input:disabled + .checkbox__span:hover::before {
  border: 2px solid $light-grey;
}

/* PAGINATION */

.pagination-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pagination-item {
  border-bottom: 2px solid transparent;
}

.pagination-item:hover .pagination-link,
.pagination-item:focus .pagination-link {
  color: $white;
  background-color: $primary-lighter;
}

.pagination-item:active .pagination-link {
  color: $white;
  background-color: $primary-darken;
}

.pagination-item__disabled .pagination-link {
  color: $white;
  background-color: $light-grey;
  cursor: no-drop;
}

.pagination-link {
  @include text;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: $primary;
  background-color: $white;
  border-radius: 4px;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.pagination-current {
  @include text;
  background-color: transparent;
}

.pagination-next__icon {
  transform: rotate(180deg);
}

@media (max-width: $mobile) {
  .pagination-prev__span,
  .pagination-next__span {
    display: none;
  }
}

@media (min-width: $tablet) {
  .pagination-list {
    justify-content: flex-end;
    gap: 20px;
  }

  .pagination-prev__icon,
  .pagination-next__icon {
    display: none;
  }

  .pagination-prev {
    width: 91px;
  }

  .pagination-next {
    width: 105px;
  }

  .pagination-link {
    font-size: 16px;
    line-height: 24px;
  }
}
