/* HEADER */

.header {
  background-color: $white;
}

.navigation {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
}

.navigation__logo {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
}

.navigation__logo-image {
  padding-top: 7px;
  transition: all 0.5s ease-in-out;
}

.navigation__logo-image:hover,
.navigation__logo-image:focus,
.navigation__logo-image:active {
  opacity: 0.85;
}

.navigation__logo-text {
  display: none;
}

.navigation__link {
  display: flex;
  width: 47px;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #333333;
}

.navigation__item:hover .navigation__link-icon,
.navigation__item:hover .navigation__link,
.navigation__item:focus .navigation__link {
  color: $primary;
  transition: all 0.5s ease-in-out;
}

.navigation__item:active,
.navigation__button:active {
  background-color: $secondary;
  transition: all 0.5s ease-in-out;
}


.navigation__link-icon {
  width: 16px;
  height: auto;
  padding-top: 1px;
}

.navigation-users {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.navigation__search-text,
.navigation__cart-text {
  display: none;
}

.navigation__button {
  position: relative;
  display: flex;
  width: 46px;
  height: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: 0.5s;
  transform: translate(13px, 0);
  animation: navClose 0.5s ease-in-out;
  cursor: pointer;
}

.navigation__button::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 13px;
  width: 16px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 5px 0 0 $black, 0 10px 0 $black;
}

.header__opened .navigation__button::before,
.header__opened .navigation__button::after {
  content: "";
  position: absolute;
  top: 29px;
  right: 13px;
  width: 17px;
  height: 2px;
  background-color: $black;
  box-shadow: none;
}

.header__opened .navigation__button::before {
  transform: rotate(-45deg);
}

.header__opened .navigation__button::after {
  transform: rotate(45deg);
}

.navigation-site {
  position: absolute;
  display: grid;
  flex-wrap: wrap;
  top: 60px;
  width: 100%;
  z-index: 1;
  background-color: $white;
  transition: 0.5s ease-in-out;

  .navigation__item {
    display: flex;
    justify-content: center;
    border-top: 2px solid $secondary;
  }

  .navigation__item-last {
    border-bottom: 2px solid $secondary;
  }

  .navigation__link {
    height: 55px;
  }
}

.header__closed .navigation-site {
  display: none;
}

@media (max-width: $mobile) {
  .header__nojs {
    height: 286px;
    overflow: hidden;
  }

  .header__nojs .navigation-site {
    display: block;
    position: relative;
    width: 130vw;
    transform: translate(-40vw, 0);
    transition: opacity 0.3s ease-in-out;
  }

  .header__nojs .navigation-users {
    position: absolute;
    right: 6.3vw;
  }

  .header__nojs .navigation__button {
    display: none;
  }
}

@media (min-width: $tablet) {
  .navigation {
    grid-template-columns: 1fr 3fr 1fr;
  }

  .navigation__logo {
    width: 82px;
    height: 78px;
    border-bottom: 2px solid transparent;
  }

  .navigation__logo-image {
    width: auto;
    padding-top: 10px;
  }

  .header__closed .navigation-site {
    display: flex;
  }

  .navigation-site {
    position: relative;
    top: 0;
    display: flex;
    margin-left: 3px;
    gap: 0;

    .navigation__item {
      border: none;
    }

    .current-link {
      color: $primary;
      border-bottom: 2px solid $primary;
    }

    .navigation-users {
      margin-right: 2px;
      justify-content: flex-end;
      gap: 0;
    }

    .navigation__link {
      margin: auto;
      width: 103px;
      height: 78px;
      border-bottom: 2px solid transparent;
    }
  }

  .navigation-users {
    gap: 1px;
    justify-content: flex-end;
  }

  .navigation__user,
  .navigation__bags {
    width: 60px;
    height: 80px;
  }

  .navigation__link-icon {
    height: auto;
  }

  .navigation__button {
    display: none;
  }
}

@media (min-width: $desktop) {
  .navigation {
    grid-template-columns: 1fr 3fr 2fr;
  }

  .navigation__logo {
    width: 325px;
    gap: 18px;
  }

  .navigation__logo-image {
    width: 310px;
  }

  .navigation__logo-text {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $black;
  }

  .navigation-site {
    width: auto;
    margin: auto;
    gap: 19px;
    transform: translate(77px, 0);
  }

  .navigation-users {
    gap: 18px;
  }

  .navigation__bags {
    gap: 8px;
    width: 123px;
  }

  .navigation__user {
    gap: 8px;
    width: 123px;
  }

  .navigation__cart-text {
    display: flex;
  }

  .navigation__search-text {
    display: flex;
  }
}
