.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 40px;

  @include btn;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;

  &--slider,
  &--main,
  &--apply,
  &--reset {
    background-color: $primary;

    @include btn;

    &:hover,
    &:focus {
      background-color: $primary-lighter;
    }

    &:active {
      background-color: $primary-darken;
    }

    &:disabled {
      background-color: $grey;
      cursor: no-drop;
    }
  }

  &--main {
    @include btn-main;
    width: 141px;
    height: 36px;
  }

  &--apply,
  &--reset {
    width: 280px;
    height: 40px;

    @media (min-width: $tablet) {
      width: 140px;
      height: 40px;
    }

    @media (min-width: $desktop) {
      width: 150px;
      height: 40px;
    }
  }

  &--reset {
    color: $primary;
    background-color: $white;

    &:hover,
    &:focus,
    &:active,
    &:disabled {
      color: $white;
    }

    &:disabled {
      background-color: $light-grey;
      cursor: no-drop;
    }
  }
}
